# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.temp

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/settings.json
ex3/ApplicationManager
ex3bis/app
ex3bis/ApplicationManager
ex3bis/ApplicationManager.c
ex3bis/ApplicationManager.c.old
ex3bis/get_time.c
ex3bis/list_appli.txt
ex3bis/mise_en_veille.txt
ex3bis/network_manager.c
ex3bis/power_manager.c
ex3bis/time_manager.c
ex3/get_time
ex3/network_manager
ex3/power_manager
ex3/test.c
ex3/time_manager
ex3/mise_en_veille.txt
ex3/mise_en_veille.txt
